In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns

In [2]:
from  sklearn.preprocessing  import  MinMaxScaler 
from  sklearn.model_selection  import  train_test_split 
from  sklearn.metrics  import  mean_absolute_error 
from  sklearn.linear_model  import  Ridge
from  sklearn.linear_model  import  Lasso
from sklearn.linear_model import LinearRegression
from  sklearn.metrics  import   mean_squared_error 
from  sklearn.metrics  import  mean_absolute_error

In [3]:
energy_df = pd.read_csv('energydata_complete.csv')

In [4]:
energy_df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

1.) From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the Root Mean Squared error in three D.P?

In [5]:
X  =  energy_df[['T2']]
y  =  energy_df[ 'T6' ]

In [6]:
x_train,  x_test,  y_train,  y_test  =  train_test_split(X,  y, 
test_size= 0.3 ,  random_state= 1 )

In [7]:
linear_model  =  LinearRegression() 
#fit  the  model  to  the  training  dataset 
linear_model.fit(x_train,  y_train) 
#obtain  predictions 
predicted_values  =  linear_model.predict(x_test)

In [8]:
rmse  =  np.sqrt(mean_squared_error(y_test,  predicted_values)) 
round(rmse,  3 )

3.612

2.)Remove the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a random state of 42 (for reproducibility). Normalize the dataset using the MinMaxScaler (Hint: Use the MinMaxScaler fit_transform and transform methods on the train and test set respectively). Run a multiple linear regression using the training set. Answer the following questions:

What is the Mean Absolute Error (in three decimal places) for the training set?

In [9]:
# Remove the specified columns
columns_to_remove = ["date", "lights"]
data = energy_df.drop(columns=columns_to_remove)

In [ ]:
# Define your target variable and features
X = data.drop(columns=["Appliances"])
y = data["Appliances"]

In [ ]:
x_train,  x_test,  y_train,  y_test  =  train_test_split(X,  y, 
test_size= 0.3 ,  random_state= 42 )

In [ ]:
scaler  =  MinMaxScaler() 
X_train  = scaler.fit_transform(x_train)
X_test  =  scaler.fit_transform(x_test)

In [ ]:
linear_model  =  LinearRegression() 
#fit  the  model  to  the  training  dataset 
linear_model.fit(X_train,  y_train)

In [ ]:
y_train_pred = linear_model.predict(X_train)
# Calculate Mean Absolute Error for the training set
mae_train = mean_absolute_error(y_train, y_train_pred)
round(mae_train, 3)

3.)What is the Root Mean Squared Error (in three decimal places) for the training set?

In [ ]:
rmse  =  np.sqrt(mean_squared_error(y_train,  y_train_pred)) 
round(rmse,  3 )

4.) What is the Root Mean Squared Error (in three decimal places) for test set?

In [ ]:
#obtain test predictions 
predicted_values  =  linear_model.predict(X_test)
rmse  =  np.sqrt(mean_squared_error(y_test,  predicted_values ))
round(rmse,  3 )

5.) What is the new RMSE with the Lasso Regression on the test set?

In [ ]:
lasso_reg  =  Lasso(alpha= 0.001 ) 
lasso_reg.fit(X_train,  y_train)
predicted_values  =  lasso_reg.predict(X_test)

In [ ]:
rmse  =  np.sqrt(mean_squared_error(y_test,  predicted_values)) 
round(rmse,  3 )